---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'GammaDB - Analytics PostgreSQL!',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Visit GammaDB',
        href: 'https://github.com/gammadb/gammadb',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      One-Click Transform PostgreSQL to Native Analytical Database
    </Fragment>

    <Fragment slot="subtitle">
		Cost-based Optimization, Vectorized Execution, Columnar Storage Engine! 
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title=""
    subtitle=""
    items={[
      {
        title: 'Cost-based Vectorized Optimization',
        description:
          'The optimizer delivers more efficient execution plans due to its support for cost-based vectorized path search.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Vectorized Execution',
        description:
          'Vectorized execution engines process tuples in batches, achieving performance improvements of hundreds or even thousands of times.',
        icon: 'tabler:components',
      },
      {
        title: 'Columar Storage Engine',
        description:
          'Using TOAST technology to implement a columnar storage engine, achieving a data compression ratio improvement of 3-5 times.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Columnar Index For HOT',
        description:
          'By building a columnar index as a covering index on a heap-organized table, AP-style SQL queries experience a 1000x performance improvement while TP performance remains essentially unchanged.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside GammaDB"
    title="Native Analytical PostgreSQL"
    items={[
      {
        title: 'Decoupling Storage and Compute',
        description:
          'Leveraging S3 to offload data to object storage, achieving multi-dimensional separation of compute, transactions, metadata, and data.',
      },
      {
        title: 'One-click transformation',
        description:
          'Leveraging PostgreSQL\'s extension capabilities, achieve one-click transformation into an analytical engine, without relying on any third-party databases.',
      },
    ]}
    image={{
      src: '~/assets/images/framework.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Greater Imaginative Potential</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->


  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '??.??K' },
      { title: 'Stars', amount: '??.??K' },
      { title: 'Forks', amount: '??.??K' },
      { title: 'Users', amount: '??.??K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/gammadb/gammadb',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      GammaDB is &nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Comming Soon!</span>
    </Fragment>

    <Fragment slot="subtitle">
      Currently, GammaDB does not yet possess product-level capabilities, and more robust functions are being progressively enhanced.
    </Fragment>
  </CallToAction>
</Layout>
